/* =============================================================================
   Primary styles
   Author: dbow <dbowman123@gmail.com>
   ========================================================================== */

header {
  width: 240px;
  margin: 0 auto;
} 

header div {
  float: left;
}

  #pageSubHeader {
    margin: 10px 10px 0px 0px;
  }

#soundBox {
  border: 1px solid #999;
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

  .soundBoxHover {
    background-color: #999;
  }

#arrowBoxes {
  height: 65px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  position: absolute;
}

  #arrowBoxes canvas {
    width: 35px;
  }

  #addArrow {
    position: relative;
    left: 255px;
    height: 50px;
    bottom: 35px;
  }

  #removeArrow {
    position: relative;
    left: 420px;
    bottom: 10px;
    height: 60px;
  }

  #addContainer h4 {
    margin-bottom: 0px;
    font-size: 16px;
    text-align: center;
  }

    .mainInstruction {
      font-size: 30px;
    }

  #addBox {
    border: 1px solid #999;
    height: 150px;
    width: 600px;
    margin: 0 auto;
  }

    .musicFile {
      float: left;
      border: 1px solid #999;
      background-color: #FFFFCC;
      text-align: center;
      margin: 3px;
      cursor: pointer;
      padding: 5px;
    }

      .musicFileAdded {
        background-color: #66CC99;
      }
    
    .musicFilePanel {
      width: 180px;
      height: 200px;
      border: 1px solid #333;
      position: absolute;
      left: 50%;
      margin-left: -90px;
      top: 20px;
      background-color: #FF9966;
      z-index: 15;
    }
      
      .hidden {
        display: none;
      }
      
      .controls1 {
        height: 20px;
        width: 180px;
      }

      .controls1 div {
        float: left;
      }

        .loopControlContainer {
          width: 45px;
          margin: 0px 0px 0px 5px;
        }

        .volumeControlContainer canvas,
        .volumeControlContainer div {
          float: left;
        }

          .volumeIcon {
            width: 20px;
            height: 20px;
            margin: -3px 8px 0px 10px;
          }

          .volumeControl {
            width: 75px;
            margin-top: 2px;
          }

        
      
      .controls2 {
        height: 100px;
        width: 180px;
      }

      .controls2 .delayControlContainer,
      .controls2 .warpControlContainer {
        display: block;
        margin: 10px auto;
        height: 50px;
        width: 75px;
      }

        .delayControlContainer div {
          float: left;
        }

        .delayControl {
          height: 40px;
        }

      .warpControlContainer {
        clear: both;
      }

        .warpControlContainer div {
          float: left;
        }

        .warpControl {
          height: 40px;
        }

      .controlLabel {
        font-size: 16px;
        font-weight: bold;
        padding: 15px 0px 0px 15px;
      }

#musicPanelTemplate {
  display: none;
}
